<a href="https://colab.research.google.com/github/emindlg/DENEME/blob/main/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_x = "Emma is good devoloper. Emma is a writer"

In [ ]:
print(str_x.count("Emma"))

2

In [ ]:
print("Emma appeared {} times".format(str_x.count("Emma")))

Emma appeared 2 times

In [ ]:
sentence = "My name is Michelle"

ters_cumle = sentence.split()

ters_cumle.reverse()

print(ters_cumle)

['Michelle', 'is', 'name', 'My']

In [ ]:
name = 'My name is Fikret'
new_name = name.split()
new_name.reverse()
print(*new_name)

Fikret is name My

In [ ]:
isim = "JhonDipPeta"

In [ ]:
print(isim[4:7])

Dip

In [ ]:
isim2 = "JaSonAy"

isim2[2 : 5]

'Son'

In [ ]:
team_list = [["beşiktaş", "fenerbahçe", "galatasaray", "trabzon"]]

type(team_list)

list

In [ ]:
text = "restart"

print(text[1:].replace("r", "$"), sep="")

In [ ]:
name = ("Ethan")
age = ("26")
address = ("70126 dr. Unit Houston, TX")

print(name, age, adress, sep="\n")

In [ ]:
date = "11/04/2021"

set(date)

{'/', '0', '1', '2', '4'}

In [ ]:
{date}

{'11/04/2021'}

In [ ]:
a = set("09/01/2021")
b = {"09/01/2021"}

print(a)
print(b)

{'1', '0', '/', '2', '9'}
{'09/01/2021'}

In [ ]:
given_list = [1, 2, 3, 3, 3, 3, 4, 5, 5]

print(set(given_list))

{1, 2, 3, 4, 5}

In [ ]:
usa = set("washington")

In [ ]:
nz = set("wellington")

In [ ]:
usa - nz

{'a', 'h', 's'}

In [ ]:
nz - usa

{'e', 'l'}

In [ ]:
usa & nz

{'g', 'i', 'n', 'o', 't', 'w'}

In [ ]:
usa | nz

{'a', 'e', 'g', 'h', 'i', 'l', 'n', 'o', 's', 't', 'w'}

In [ ]:
minced = True
bread = True
lettuce = True
onion = True
Grocer = True

In [ ]:
hamburger = minced and bread and lettuce and onion and Grocer

In [ ]:
hamburger

True

In [ ]:
if hamburger:
    print("Bon Appetite")

Bon Appetite

In [ ]:
a = set("TWELVE PLUS ONE")
b = set("ELEVEN PLUS TWO")

a == b

True

In [ ]:
if a == b:
    print("We are the same")

We are the same

In [ ]:
number = (3, 4)

In [ ]:
if number == 3:
    print(3, "is odd")

else:
    print(4, "is even")

4 is even

In [ ]:
number = int(input("Please positive or negative number: "))

if number > 0:
    print("You entered positive number")

else:
    print("You entered negative number")

Please positive or negative number: -120
You entered negative number

In [ ]:
numbers = int(input("enter number: "))

if numbers > 4:
    print("The large number is 4") 

else:
    print("The number is lower 4")

enter number: 40
The large number is 4

In [ ]:
txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [ ]:
txt = "Hello World"
txt = txt.upper()

txt

'HELLO WORLD'

In [ ]:
txt = "Hello World"
txt = txt.replace("H"  , "J")

txt

'Jello World'

In [ ]:
txt = "Hello World"

print(txt.replace("o", "z"))

Hellz Wzrld

In [ ]:
age = 39

txt = "My name is John and I am {} "

print(txt.format(age))

My name is John and I am 39

In [ ]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [ ]:
number = 0 

while number < 6:
  print(number)
  number += 1

print("now, number is greater than6")

0
1
2
3
4
5
now, number is greater than6

In [ ]:
my_list=["a", "b", "c", "d", "e"]

c = 0 

while c < len(my_list):
  print(b)
  c += 1

5
5
5
5
5

In [ ]:
for i in range(1, 10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
print(*('seperaate'))

s e p e r a a t e

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
	print(x, ':', y)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

evens = []
odds = []
i = 0
for i in range(10):
  if i+1 > i:
     odds.append(i))
  else:
     evens.append(i)) 


print

In [ ]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)

In [ ]:
odds = 0
evens = 0

for i in numbers :
    
    if i % 2 == 0:
        evens += 1

    else:
        odds += 1

print("evens count :", evens)

print("odds count :", odds)

evens count : 5
odds count : 4

In [ ]:
T = (1, 2, 3, 4, 5, 6, 7, 8)

print(T[6])

7

In [ ]:
print(T.index(3))
print(5)

2
5

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}

print(type(D))

<class 'dict'>

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [ ]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print(set1)

{1, 2, 3}

In [ ]:
number = (1, 3)

In [ ]:
sample_list = list(range(10, 100, 10))

for i in range(0, len(sample_list), 1):
    sample_list[i] = sample_list[i] * 3

In [ ]:
print(sample_list)

[30, 60, 90, 120, 150, 180, 210, 240, 270]

In [ ]:
number = 23

In [ ]:
if number >= 10:
    print("the number is greater than 10")

else:
    print("the number is less than 10")

the number is greater than 10